{:meta/version 1

 ;; Set the preferred format.
 ;; Available options:
 ;; - Markdown (default)
 ;; - Org
 ;; :preferred-format "Markdown"

 ;; Set the preferred workflow style.
 ;; Available options:
 ;; - :now for NOW/LATER style (default)
 ;; - :todo for TODO/DOING style
 :preferred-workflow :now

 ;; Exclude directories/files.
 ;; Example usage:
 ;; :hidden ["/archived" "/test.md" "../assets/archived"]
 :hidden []

 ;; Define the default journal page template.
 ;; Enter the template name between the quotes.
 :default-templates
 {:journals ""}

 ;; Set a custom date format for the journal page title.
 ;; Default value: "MMM do, yyyy"
 ;; e.g., "Jan 19th, 2038"
 ;; Example usage e.g., "yyyy/MM/dd", "dd-MM-yyyy", "MM/dd/yyyy", "EEE, MMM do, yyyy"
 ;; :journal/page-title-format "EEE, MMM do, yyyy"

 ;; Specify the journal filename format using a valid date format string.
 ;; !Warning:
 ;;   This configuration is not retroactive and affects only new journal pages.
 ;;   To change the file name of existing journal pages, rename them manually in your file system.
 ;;   Example usage e.g., "yyyy_MM_dd", "yyyy-MM-dd", "yyyyMMdd", "yyyy/MM/dd"
 ;; :journal/file-name-format "yyyy_MM_dd"

 ;; Enable Git auto commit.
 ;; Default value: false
 :git-auto-commit false

 ;; Specify the default home page.
 ;; Enter the page name between the quotes.
 :default-home {:page "Contents"}

 ;; Specify the date format for the journal page title.
 ;; Default value: "MMM do, yyyy"
 ;; e.g., "Jan 19th, 2038"
 ;; :journal/page-title-format "MMM do, yyyy"

 ;; Specify the time format for the journal page title.
 ;; Default value: "HH:mm"
 ;; e.g., "23:59"
 ;; :journal/page-title-time-format "HH:mm"

 ;; Specify the file format for the journal page.
 ;; Default value: "yyyy_MM_dd"
 ;; e.g., "2038_01_19"
 ;; :journal/file-name-format "yyyy_MM_dd"
}